{:name "editorconfig"
 :version "0.0.1"
 :author "Chris Stead"
 :source "http://github.com/cmstead/lighttable-editorconfig.git"
 :desc "A Light Table plugin for editorconfig -- http://www.editorconfig.orgß"
 :behaviors "editorconfig.behaviors"}
